---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css"/>
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}



<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1957">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">ILCA</span>
            <h1 class="cs-title">Prepare Your Child For College And Beyond</h1>
            <p class="cs-text">At Immanuel Lutheran Christian Academy, we are committed to preparing our students for Christ-centered living and excellence in academics, relationships, and life.</p>
            <a href="" class="cs-button-solid">Schedule a Tour</a>
        </div>
    </div>
    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/homepage/stats1.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/homepage/stats1.jpg">
        <img decoding="async" src="/assets/images/homepage/stats1.jpg" alt="healthcare professionals" width="1920" height="746" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                   Services                   -->
<!-- ============================================ -->

<section id="services-1957">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Parent Portal</span>
                        <h3 class="cs-h3">Grades, schedules, and updates in one place</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/parentportal.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/parentportal.jpg">
                    <img decoding="async" src="/assets/images/homepage/parentportal.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Elementary</span>
                        <h3 class="cs-h3">K–5th focused on strong foundations</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/elementary.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/elementary.jpg">
                    <img decoding="async" src="/assets/images/homepage/elementary.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Intermediate</span>
                        <h3 class="cs-h3">6th–8th building skills and confidence</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/middleschool.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/middleschool.jpg">
                    <img decoding="async" src="/assets/images/homepage/middleschool.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="" class="cs-link">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/black-up-right-arrow.svg" alt="icon" width="32" height="32">
                    </picture>
                    <div class="cs-flex">
                        <span class="cs-topper">Highschool</span>
                        <h3 class="cs-h3">9th–12th preparing for what’s next</h3>
                    </div>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/highschool.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/highschool.jpg">
                    <img decoding="async" src="/assets/images/homepage/highschool.jpg" alt="healthcare patient" width="455" height="337" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>
</section>




<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-2276">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture cs-picture1">
                <source media="(max-width: 600px)" srcset="/assets/images/homepage/about1.jpg">
                <source media="(min-width: 601px)" srcset="/assets/images/homepage/about1.jpg">
                <img aria-hidden="true" decoding="async" src="/assets/images/homepage/about1.jpg" alt="construction site" width="413" height="492" loading="lazy">
            </picture>
            <a href="" class="cs-button-solid">Read More</a>
        </div>
        <div class="cs-content">
            <div class="cs-header">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">Our Mission</h2>
            </div>
            <div class="cs-wrapper">
                <div class="cs-flex">
                    <p class="cs-text">
                        Our mission is to promote the total development of children: spiritual, emotional, physical, social and intellectual. We are dedicated to excellence in an environment that is informal and personal for all who take part. Every child is valued as a child of God, and we seek to introduce everyone to the joys of knowing His love in Jesus Christ.
                    </p>
                  
                    <span class="cs-name">Twilla Berwaldt</span>
                    <span class="cs-desc">Execurive Director</span>
                    <!--if you change this button class name, change the class name to rename it as well in the css at small desktop media query-->
                    <a href="" class="cs-button-solid">Get Started Today</a>
                </div>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/about2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/about2.jpg">
                    <img aria-hidden="true" decoding="async" src="/assets/images/homepage/about2.jpg" alt="construction site" width="362" height="400" loading="lazy">
                </picture>
            </div>
        </div>
    </div>
</section>




<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-5">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Why Choose Us</span>
            <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
            <p class="cs-text">
                
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">160</span>
                <span class="cs-header">K-12 Students</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">5</span>
                <span class="cs-header">Sports Programs</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">145</span>
                <span class="cs-header">Preschool Students</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">28</span>
                <span class="cs-header">Admin/Faculty</span>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Contact Us</a>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/homepage/stats1.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/homepage/stats1.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/homepage/stats1.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>





<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-264">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Access</span>
            <h2 class="cs-title">Help For Your Academic Journey</h2>
            <p class="cs-text">
                We are a full service construction company offering everything from residential and commercial painting to full home remodels and new home additions.
            </p>
            <a href="" class="cs-button-solid">More Access</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <h3 class="cs-h3">Admissions</h3>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/admissions.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/admissions.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/homepage/admissions.jpg" alt="house" width="275" height="132">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Academics</h3>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/academics.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/academics.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/homepage/academics.jpg" alt="stairs" width="275" height="132">
                </picture>
            </li>
            <li class="cs-item">
                <h3 class="cs-h3">Student Opportunites</h3>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/schoolopportunites.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/schoolopportunites.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/homepage/schoolopportunites.jpg" alt="bathroom" width="275" height="132">
                </picture>
            </li>
        </ul>
    </div>
</section>




<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1635">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Why Choose Us</span>
                <h2 class="cs-title">The Immanuel Lutheran Christian Academy Way</h2>
            </div>
            <p class="cs-text">
                We promise to promote the total development of children: spiritual, emotional, physical, social and intellectual. We are dedicated to excellence in an environment that is informal and personal for all who take part. Every child is valued as a child of God, and we seek to introduce everyone to the joys of knowing His love in Jesus Christ.
            </p>
        </div>  
        <div class="cs-wrapper">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="/assets/svgs/whychooseus1.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Developing the Whole Child</h3>
                        <p class="cs-item-text">
                            Our mission is to promote the total development of children: spiritual, emotional, physical, social, and intellectual.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon" src="/assets/svgs/whychooseus2.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">Anchored by Faith</h3>
                        <p class="cs-item-text">
                            Every child is valued as a child of God, and we seek to introduce everyone to the joys of knowing His love in Jesus Christ.
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <picture class="cs-icon-wrapper">
                        <img class="cs-icon"
                                src="/assets/svgs/whychooseus3.svg"
                                loading="lazy" decoding="async" alt="icon" width="32" height="32" aria-hidden="true">
                    </picture>
                    <!-- Text Grouped For Flexbox-->
                    <div class="cs-text-group">
                        <h3 class="cs-h3">College and Career Ready</h3>
                        <p class="cs-item-text">
                            Our students develop the character and academic competency to thrive in college or wherever life takes them.
                        </p>
                    </div>
                </li>
            </ul>
            <div class="cs-image-group">
                <div class="cs-picture-wrapper">
                    <picture class="cs-picture cs-picture1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/gallery1.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/gallery1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/gallery1.jpg" alt="meeting" width="434" height="414">
                    </picture>
                    <div class="cs-box">
                        <span class="cs-header">Immanuel Lutheran Christian Academy </span>
                        <span class="cs-desc">Class of 2020</span>
                    </div>
                </div>
                <picture class="cs-picture cs-picture2">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/homepage/gallery2.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/homepage/gallery2.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/homepage/gallery2.jpg" alt="on computer" width="197" height="197">
                </picture>
            </div>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Events                     -->
<!-- ============================================ -->

<section id="events-1650">
    <div class="cs-container">
        <div class="cs-content">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/business-meeting.jpeg" alt="busines meeting" width="522" height="609" aria-hidden="true">
            </picture>
            <div class="cs-text-wrapper">
                <span class="cs-topper">Our Events</span>
                <h2 class="cs-title">Upcoming Events</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-date">
                    <strong>26</strong>
                    Oct
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">Business Transformation Summit</h3>
                        <span class="cs-location">1250 23rd Street NW, DC 20037</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            12:00AM - 02:00PM
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-date">
                    <strong>22</strong>
                    Oct
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">Consulting Excellence Conference</h3>
                        <span class="cs-location">1250 23rd Street NW, DC 20037</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            12:00AM - 02:00PM
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </div>
                </div>
            </li>
            <li class="cs-item">
                <span class="cs-date">
                    <strong>20</strong>
                    Oct
                </span>
                <div class="cs-info-wrapper">
                    <div class="cs-info">
                        <h3 class="cs-h3">Growth Accelerator Bootcamp 2023</h3>
                        <span class="cs-location">1250 23rd Street NW, DC 20037</span>
                        <span class="cs-time">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-clock.svg" alt="icon" width="24" height="24" loading="lazy" decoding="async">
                            12:00AM - 02:00PM
                        </span>
                    </div>
                    <div class="cs-button-wrapper">
                        <a href="" class="cs-button-solid">Buy Ticket</a>
                    </div>
                </div>
            </li>
        </ul>
    </div> 
</section>
                                
                                
                                



                                
                                
                                

    

   

    {% include 'sections/cta.html' %}
{% endblock %}